# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Vim
*.swp

# Executables
*.exe
*.out
*.app

# CMake build directory
build/*

# CLion
.idea/
build/
cmake-build*/

# MSVC
.vs
/out*
CMakeSettings.json

# Documentation source files 
doc/

# Misc
.DS_store
